[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/annajcy/imgui.git
[submodule "ext/glad"]
	path = ext/glad
	url = https://github.com/annajcy/glad.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/stb_image"]
	path = ext/stb_image
	url = https://github.com/annajcy/stb_image.git
[submodule "ext/rttr"]
	path = ext/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "ext/spdlog"]
	path = ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "ext/nlohmann_json"]
	path = ext/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "ext/mirrow"]
	path = ext/mirrow
	url = https://github.com/VisualGMQ/mirrow.git
[submodule "ext/tinyobjectloader"]
	path = ext/tinyobjectloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
